<!doctype html>
<html>

<head>
    <title>TopAlbum</title>
    <meta name="description" content="Our first page">
    <meta name="keywords" content="html tutorial template">
    <link href="https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css" rel="stylesheet">

</head>

<body class="max-w-2xl mx-auto bg-blue-700 text-white">
    <div>
        <h1 class="text-4xl font-bold text-center text-white pt-6">TopAlbum</h1>
        <h1 class="text-xl text-center">
            We give you to albums, you tell us which is more popular.
        </h1>
    </div>


    <h1 class="text-2xl text-center p-3 bg-blue-600 max-w-2xl mx-auto mt-6"> Which is more popular?</h1>

    <div class="grid grid-flow-col grid-cols-2 grid-rows-2 max-w-2xl mx-auto">

        <div class="ml-5 mt-6 p-8 hover:bg-blue-600" onclick="album1();">
            <img src="{{image1}}" width="300" height="300">
        </div>

        <div class="text-xl mt-4 text-center font-mono">
            {{name1}} 
        </div>


        <div class="ml-5 mt-6 p-8 hover:bg-blue-600" onclick="album2();">
            <img src="{{image2}}" width="300" height="300">
        </div>

        <div class="text-md mt-4 text-center font-mono">
            {{name2}} 
        </div>
    </div>

    <div>
        <h1 class="text-2xl font-mono">Score:<span id="score"></span></h1>

    </div>




    <div class="footer">
        <span class="align-left">
            Data from <a class="pt-10">Spotify API.</a> Built by <a class="bottomlinks">George McCain</a> and
            <a class="bottomlinks">John McGarry</a>
        </span>
    </div>

    <script>
        localStorage = window.localStorage;
        localStorage.setItem("score", i);

        function album1() { 
            if ( {{popularity1}} > {{popularity2}} ) {
                alert("You won!");
                i++;
                location.reload();
            } else if ({{popularity2}} > {{popularity1}}) {
                alert("You lose!");
                i--;
                location.reload();
            }
        }

        function album2() { 
            if ( {{popularity1}} < {{popularity2}} ) {
                alert("You won!");
                i++;
                location.reload();
            } else if ({{popularity2}} < {{popularity1}}) {
                alert("You lose!");
                i--;
                location.reload();
            }
        }

        document.getElementById("score").append(toString(i));

   




    </script>
    
</body>

</html>

