<!doctype html>
<html>

<head>
    <title>TopAlbum</title>
    <meta name="description" content="Our first page">
    <meta name="keywords" content="html tutorial template">
    <link href="https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css" rel="stylesheet">

</head>

<body class="mx-auto bg-blue-700 text-white">
    <div class="max-w-2xl mx-auto">


        <div>
            <h1 class="text-4xl font-bold text-center text-white pt-6">TopAlbum</h1>
            <h1 class="text-xl text-center">
                We give you to albums, you tell us which is more popular.
            </h1>
        </div>


        <h1 class="text-2xl text-center p-3 bg-blue-600 max-w-2xl mx-auto mt-6"> Which is more popular?</h1>

        <div class="grid grid-flow-col grid-cols-2 grid-rows-1 max-w-2xl mx-auto">

            <div class="ml-5 mt-6 p-8 hover:bg-blue-600" onclick="selectAlbum(1);">
                <img src="{{image1}}" width="300" height="300">

                <div class="text-md mt-4 text-center font-mono">
                    {{name1}}
                </div>

            </div>




            <div class="ml-5 mt-6 p-8 hover:bg-blue-600" onclick="selectAlbum(2);">
                <img src="{{image2}}" width="300" height="300">

                <div class="text-md mt-4 text-center font-mono">
                    {{name2}}
                </div>
            </div>


        </div>

        <div>
            <h1 class="text-2xl text-center p-3 bg-blue-600 max-w-2xl mx-auto mt-6">Score: <span id="score"></span></h1>

        </div>

    </div>
    <div class="footer">
        <span class="align-left">
            Data from <a class="pt-10">Spotify API.</a> Built by <a class="bottomlinks">George McCain</a> and
            <a class="bottomlinks">John McGarry</a>
        </span>
    </div>

    <script>
        let album1 = {{album1 | tojson}};
        let album2 = {{album2 | tojson}};
    </script>

    <script>
        score = localStorage.getItem("score");
        document.getElementById("score").innerHTML = score;

        function selectAlbum(num) {
            let correct = true;
            if (album1.popularity < album2.popularity) {
                correct = num === 2;
            } else {
                correct = num === 1;
            }

            if (correct) {
                score = localStorage.getItem("score");
                score = parseInt(score)
                score = score + 1;
                document.getElementById("score").innerHTML = parseInt(score);
                localStorage.setItem("score", score);
                location.reload()
            }   else  {
                location.reload()
                alert("Incorrect!")
                localStorage.setItem("score", 0);
            }     
        }

        function reset() {
            localStorage.setItem("score", 0);
        }

        document.getElementById("score").append(toString(i));
    </script>

</body>

</html>